In [10]:
import pandas as pd
from autofeat import FeatureSelector
from sklearn.feature_selection import VarianceThreshold

In [11]:
raw_dataset_x = pd.read_csv('X_train.csv',index_col=['id'])
X = raw_dataset_x.copy()
X.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
id,,,,,,,,,,,,,,,,,,,,,
0.0,14168.823171,10514.380717,3316.149698,94230.695124,102.386606,92.677127,11108.748199,10866.505510,10837.622093,10.227734,...,NaN,12352.094085,846.014651,105.132144,102.112809,2090.004260,2.691845,1234.374109,1000.784475,9285.751272
1.0,17757.037554,NaN,4101.016273,92959.527633,NaN,99.855168,10013.959449,10826.607494,10076.101597,11.436970,...,NaN,16198.071494,776.084467,106.385590,103.472030,2474.051881,2.287976,NaN,1012.626705,11750.284764
2.0,14226.656663,11029.642499,NaN,124055.600561,100.542483,92.860892,NaN,10492.342868,NaN,10.810076,...,10329.704431,13976.063780,737.040332,103.671234,109.458246,2656.083281,2.843706,888.353607,1048.810385,9553.922728
3.0,8766.012436,7384.202998,2147.308418,100157.719990,104.855061,101.929026,10050.049932,10499.521099,10525.030989,10.092109,...,10008.251395,6212.127347,329.044233,105.084488,104.858546,1097.785204,2.732257,927.752967,1048.357330,NaN
4.0,13801.016418,13269.493652,3408.316953,92048.527786,103.759758,95.789235,9667.353978,10750.783106,10618.800750,12.006773,...,10095.782015,13772.061493,NaN,NaN,100.369834,2693.053231,2.702908,1471.354073,1071.284484,9423.533063

In [12]:
raw_dataset_y = pd.read_csv('y_train.csv',index_col=['id'])
y = raw_dataset_y.copy()
y.head()

        y
id
0.0  74.0
1.0  51.0
2.0  70.0
3.0  52.0
4.0  85.0

In [13]:
missing_values = X.isna().sum()
missing_values

x0       91
x1       84
x2       88
x3       91
x4       74
       ...
x827    101
x828     95
x829     92
x830     80
x831     96
Length: 832, dtype: int64

In [14]:
X = X.fillna(X.mean())

In [15]:
X.describe()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
count,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,...,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000,1212.000000
mean,15220.402957,10950.160761,3430.837498,100002.281022,105.070358,99.968855,9983.055476,10496.207179,10495.835570,9.985880,...,10069.191241,13274.793928,812.316152,104.968652,105.063790,2482.685073,2.725659,1359.981226,1052.256384,9981.085085
std,2226.067754,1515.160528,427.016139,9336.184837,2.746611,9.248719,941.082486,267.218490,278.729862,0.958969,...,928.145687,2084.004479,173.323959,2.692260,2.688044,500.922343,0.253089,255.066942,28.192174,973.447237
min,5636.623777,6764.060541,1849.453269,65828.916291,100.056578,70.232469,6797.836298,10000.771287,10000.339782,6.759685,...,7109.997185,4100.700865,164.997735,100.040624,100.015930,750.038434,1.590647,663.173673,1000.067137,6383.771227
25%,13931.809724,9926.530547,3170.385944,94358.738184,102.811093,94.195727,9428.209799,10284.999365,10263.060018,9.375400,...,9479.523877,12076.791406,702.078405,102.864339,102.902380,2181.823042,2.557012,1194.652957,1030.447895,9382.893669
50%,15220.402957,10950.160761,3430.837498,100002.281022,105.070358,99.968855,9983.055476,10496.207179,10495.835570,9.985880,...,10069.191241,13274.793928,809.042463,104.968652,105.063790,2482.685073,2.725659,1359.981226,1052.256384,9981.085085
75%,16485.603116,11751.038613,3668.158481,105531.874497,107.353976,105.397439,10491.489465,10700.871543,10718.409364,10.606376,...,10648.249140,14431.290607,911.343060,106.993646,107.185396,2743.530473,2.868703,1517.190330,1076.100611,10584.942325
max,28273.690135,17777.338221,5622.951648,133145.632257,110.087261,130.142499,13865.848591,11000.062311,10999.403374,13.828922,...,13173.145338,24901.251674,1589.225040,110.072565,110.069056,4904.988601,3.795277,2506.104650,1099.975679,13265.026039

In [16]:
'''

model=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2),random_state=np.random.RandomState(42))
model.fit(x_train)
x_train['anomaly'] = model.predict(x_train)
y_train['anomaly'] = x_train['anomaly']
x_train['anomaly'].value_counts()
x_train = x_train[x_train.anomaly != -1]
y_train = y_train[y_train.anomaly != -1]

x_train.drop('anomaly',axis=1,inplace=True)
y_train.drop('anomaly',axis=1,inplace=True)
'''

"\n\nmodel=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2),random_state=np.random.RandomState(42))\nmodel.fit(x_train)\nx_train['anomaly'] = model.predict(x_train)\ny_train['anomaly'] = x_train['anomaly']\nx_train['anomaly'].value_counts()\nx_train = x_train[x_train.anomaly != -1]\ny_train = y_train[y_train.anomaly != -1]\n\nx_train.drop('anomaly',axis=1,inplace=True)\ny_train.drop('anomaly',axis=1,inplace=True)\n"

In [17]:
selector = VarianceThreshold()
x_train_tmp = selector.fit_transform(X,y)

In [18]:
x_train_tmp = pd.DataFrame(x_train_tmp)

In [19]:
fsel = FeatureSelector(
        problem_type='regression',
        featsel_runs=6,
        keep=None,
        n_jobs=3,
        verbose=1)

new_X = fsel.fit_transform(x_train_tmp, y)

[featsel] Scaling data...done.
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.

/home/francescog/ETH/ETH_AML_projects_2022/task_1/venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[Parallel(n_jobs=3)]: Done   1 tasks      | elapsed:   31.8s
[Parallel(n_jobs=3)]: Done   2 out of   6 | elapsed:   32.6s remaining:  1.1min
[Parallel(n_jobs=3)]: Done   3 out of   6 | elapsed:   35.1s remaining:   35.1s
[Parallel(n_jobs=3)]: Done   4 out of   6 | elapsed:  1.1min remaining:   33.2s
[Parallel(n_jobs=3)]: Done   6 out of   6 | elapsed:  1.1min remaining:    0.0s
[Parallel(n_jobs=3)]: Done   6 out of   6 | elapsed:  1.1min finished
[featsel] 39 features after 6 feature selection runs
[featsel] 39 features after correlation filtering
[featsel] 18 features after noise filtering

In [20]:
new_X.columns.values

array([ 89, 823, 456, 722, 230, 114, 637,  92, 157, 815, 824, 475, 483,
       192, 323, 463, 707, 226])

In [21]:
df_train = pd.DataFrame(X, columns=X.columns)

In [22]:
dataset_selected_x = X.copy()

accepted=new_X.columns.values

for j in range(832):
        if j in accepted:
          print (j)
        else:
          del dataset_selected_x['x' + str(j)]

train_stats = dataset_selected_x.describe()
train_stats = train_stats.transpose()
train_stats

89
92
114
157
192
226
230
323
456
463
475
483
637
707
722
815
823
824

,count,mean,std,min,25%,50%,75%,max
x89,1212.0,1.073869e+04,1842.800763,2.230315e+03,9.670812e+03,1.073869e+04,1.171302e+04,2.057098e+04
x92,1212.0,2.722782e+00,0.264929,1.934860e+00,2.551269e+00,2.722582e+00,2.873128e+00,4.044393e+00
x114,1212.0,1.529238e+00,0.126106,1.089470e+00,1.447132e+00,1.529238e+00,1.604443e+00,2.176144e+00
x157,1212.0,1.050889e+04,274.955251,1.000016e+04,1.029509e+04,1.050889e+04,1.073084e+04,1.099622e+04
x192,1212.0,1.049241e+06,27562.110574,1.000071e+06,1.024597e+06,1.049241e+06,1.071581e+06,1.099969e+06
x226,1212.0,1.003321e+02,9.371826,6.754283e+01,9.493066e+01,1.003321e+02,1.061245e+02,1.303882e+02
x230,1212.0,-9.362691e+04,12217.936104,-1.724500e+05,-1.001624e+05,-9.362691e+04,-8.703411e+04,-2.848904e+04
x323,1212.0,9.994556e+05,92032.797177,7.127500e+05,9.416122e+05,9.994556e+05,1.057160e+06,1.351889e+06
x456,1212.0,1.402570e+03,205.664867,4.870934e+02,1.282059e+03,1.402570e+03,1.520269e+03,3.075856e+03
x463,1212.0,9.993244e+05,91074.468837,6.439657e+05,9.417001e+05,9.993244e+05,1.058635e+06,1.320130e+06
x475,1212.0,9.983578e+02,92.776473,6.443879e+02,9.472172e+02,9.983578e+02,1.050838e+03,1.334119e+03
x483,1212.0,9.953721e+00,0.967469,6.476591e+00,9.341968e+00,9.953721e+00,1.055738e+01,1.337498e+01
x637,1212.0,1.049177e+06,27611.119334,1.000329e+06,1.026365e+06,1.049177e+06,1.072268e+06,1.099951e+06
x707,1212.0,1.049943e+06,27450.577300,1.000067e+06,1.027180e+06,1.049943e+06,1.072964e+06,1.099983e+06
x722,1212.0,1.001781e+02,9.292279,6.953422e+01,9.430113e+01,1.001781e+02,1.055892e+02,1.327008e+02
x815,1212.0,8.969633e+05,0.027845,8.969632e+05,8.969633e+05,8.969633e+05,8.969633e+05,8.969633e+05
x823,1212.0,1.327479e+04,2084.004479,4.100701e+03,1.207679e+04,1.327479e+04,1.443129e+04,2.490125e+04
x824,1212.0,8.123162e+02,173.323959,1.649977e+02,7.020784e+02,8.090425e+02,9.113431e+02,1.589225e+03

In [24]:
dataset_selected_x.to_csv('X_preprocessed.csv')